# Dependencies
node_modules/

# Next.js
.next/
out/

# Build output
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# Testing
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
